@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Poppins|Roboto');

// Variables
@import "variables";

@import "../tema/sass/demo/demo10/style";
@import "../tema/dropzone";

//metronic
@import "../tema/src/vendors/metronic/css/styles.css";
@import "../tema/assets/vendors/base/vendors.bundle.css";

//iconos
@import "~font-awesome/scss/font-awesome";
@import "../tema/src/vendors/flaticon/css/flaticon.css";
@import "../tema/src/vendors/line-awesome/css/line-awesome.css";

@import '~owl.carousel/src/scss/owl.carousel';
@import '~owl.carousel/src/scss/owl.theme.default';
